In [2]:
import pandas as pd

In [ ]:
data = pd.read_csv("./csvs/Order_v3.csv", index_col= "orderIdentifier", encoding = "latin1")
#Accede a los datos de la fila 24
data.loc[100055006]
#Resetea el index y accede a los datos de la columna con el index 3
data = data.reset_index()
#print("Columna con index 3: \n",data.loc[3])
#Vuelve a establecer una columna como index (sourceLink). Localiza una celda espec칤fica por etiqueta y una celda espec칤fica por index de fila y columna.
data = data.set_index("sourceLink")
print("Localizando una celda espec칤fica por su etiqueta: \n", data.loc["http://lighttree.com/100044355"])
print("\nLocalizando una celda espec칤fica por su su index y columna:", data.iloc[1][5])

Columna con index 3:
 orderIdentifier                                                        100055001
orderType                                                               OUTBOUND
vendor.organizationIdentifier                                          LightTree
buyer.organizationIdentifier                                                AHTD
shipFromInstructionLocation.locationIdentifier                              LT-2
shipToLocation.locationIdentifier                             AHTD - Bentonville
orderStatus                                                                  NaN
createdDate                                                  2017-07-11T00:00:00
requestedShipDate                                            2021-08-10T00:00:00
requestedDeliveryDate                                        2021-08-18T00:00:00
plannedShipDate                                              2021-08-10T00:00:00
plannedDeliveryDate                                          2021-08-18T00:00:00
quantity                                                                     761
quantityUnits                                                                 EA
totalValue                                                               59473.0
orderValueCurrency                                                           USD
lineCount                                                                      3
totalShippedQuantity                                                         NaN
exclude                                                                      NaN
sourceLink                                        http://lighttree.com/100055001
Name: 3, dtype: object
Localizando una celda espec칤fica por su etiqueta:
 orderIdentifier                                             100044355
orderType                                                    OUTBOUND
vendor.organizationIdentifier                               LightTree
buyer.organizationIdentifier                                     AHTD
shipFromInstructionLocation.locationIdentifier                   LT-1
shipToLocation.locationIdentifier                  AHTD - Bentonville
orderStatus                                                       NaN
createdDate                                       2021-06-08T00:00:00
requestedShipDate                                 2021-06-30T00:00:00
requestedDeliveryDate                             2021-07-07T00:00:00
plannedShipDate                                   2021-06-30T00:00:00
plannedDeliveryDate                               2021-07-07T00:00:00
quantity                                                          400
quantityUnits                                                      EA
totalValue                                                   500000.0
orderValueCurrency                                                USD
lineCount                                                           3
totalShippedQuantity                                              NaN
exclude                                                           NaN
Name: http://lighttree.com/100044355, dtype: object

Localizando una celda espec칤fica por su su index y columna: AHTD - Bentonville

C:\Users\Aaron\AppData\Local\Temp\ipykernel_16064\2469847125.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("\nLocalizando una celda espec칤fica por su su index y columna:",data.iloc[1][5])

游댮 Aplicar funciones en un DataFrame o Serie

Tanto`.apply()`맊omo`.map()`만n pandas se utilizan para **aplicar funciones a los datos de unDataFrame맖 unaSerie**, pero tienen diferencias importantes en su uso:

Utilizamos `map()` de la siguiente forma:

- Solo se usa en**Series**(no en DataFrames).
- Se aplica만lemento por elemento.
- Puede aceptar:
    - Una**funci칩n**(lambda u otra funci칩n definida).
    - Un**diccionario**맗ara hacer sustituciones.
    - Una**Serie**맗ara realizar mapeos basados en valores

In [33]:
# LO PODEMOS UTILIZAR PARA APLICAR VALORES EN SERIES: 
s = pd.Series([1, 2, 3, 4, 5])

# Multiplicar cada elemento por 2
s_double = s.map(lambda x: x * 2)
print(s_double)

# O PARA REEMPLAZAR VALORES:
s = pd.Series(['a', 'b', 'c', 'd'])
mapping_dict = {'a': 'alpha', 'x': 'beta', 'c': 'gamma'} # Si una clave no est치 en el diccionario devuelve NaN

s_mapped = s.map(mapping_dict)
print(s_mapped)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    alpha
1      NaN
2    gamma
3      NaN
dtype: object

Por otro lado, con `apply()`:

- Puede usarse en**Series y DataFrames**.
- En una**Serie**, funciona similar a`map()`, pero permite funciones m치s complejas.
- En un**DataFrame**, puede aplicarse a filas o columnas completas (`axis=0`맗ara columnas,`axis=1`맗ara filas).
- Permite aplicar funciones que necesitan m칰ltiples columnas o realizar c치lculos m치s avanzados.

In [34]:
# APPLY() EN UNA SERIE
s = pd.Series([1, 2, 3, 4, 5])

# Elevar al cuadrado cada elemento
s_applied = s.apply(lambda x: x ** 2)
print(s_applied)

# APPLY() EN UNA DATAFRAME

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Aplicar una funci칩n a cada fila (sumar A y B)
df['Suma'] = df.apply(lambda row: row['A'] + row['B'], axis=1)
print(df)

# Aplicar una funci칩n a cada columna (elevar al cuadrado)
df_applied = df.apply(lambda col: col**2, axis=0)
print(df_applied)

# Aplicar funciones diferentes a cada columna
df_transformed = df.apply(lambda col: col**2 if col.name == 'A' else col*2)
print(df_transformed)

0     1
1     4
2     9
3    16
4    25
dtype: int64
   A  B  Suma
0  1  4     5
1  2  5     7
2  3  6     9
   A   B  Suma
0  1  16    25
1  4  25    49
2  9  36    81
   A   B  Suma
0  1   8    10
1  4  10    14
2  9  12    18